asgiref==3.6.0
Django==4.2.1
mysql-connector-python==8.0.33
mysqlclient==2.1.1
python-dotenv==1.0.0
sqlparse==0.4.4
protobuf==3.20.3
PyMySQL==1.0.3
djangorestframework
djangorestframework-simplejwt
django-cors-headers